*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
main{
    /* height: 100%; */
    width: 100%;
    background-color: #d5ff3f;
}
nav{
    
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
nav h2{
    font-size: 40px;
    font-weight: 500;
}
nav a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}
section{
    /* background-color: red; */
    padding: 60px 100px;
}

section .hero-text1{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.hero-text1 h1{
    font-size: 130px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-text1 .video{
    height: 90px;
    width: 350px;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1729695714799-0ffc1e8fd8e1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfENEd3V3WEpBYkV3fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-top:20px ;
    padding: 5px;
}
.video .play{
    height: 100%;
    width: 80px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play i{
    color: white;
    font-size: 30px;
}
section .hero-text2{
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}
.hero-text2 h1{
    font-size: 130px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-text2 p{
    font-size: 25px;
    font-weight: 200;
    width: 450px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image{
    height: 500px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 80%;
    position: relative;
    margin-left: 10%;
    background-image: url(./d3.jpg);
    background-color: red;
}
.image .arrow{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: 7%;
    top: -8%;
    background-color:black;
    color: #d5ff3f;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #444;
}
.arrow i{
    font-size: 100px;

}
